
body {
    background-color: #201F1F;
    max-height: 2000px;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

/* Navbar */
.navbar {
    z-index: 3;
}

/* Nvbar color */

* {
    z-index: 2;
}

.accsent-img {
    z-index: 1;
}

.navbar-brand {
    color: #fff;
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.navbar-brand:hover {
    color: #108712;
    transition: 1s;
}

.nav-link {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    transition: all;
    padding: 8px 0;
    border-bottom: 1px solid #ffffff00;
    transition: 1s;
    transition-duration: 300ms;
}

.nav-link:hover {
    color: #108712;
    transition: 1s;
    border-bottom: 1px solid #fff;
}

/* Hero section */
.text-hero {
    margin: 50px;
    padding-top: 50px;
}

.hero-tagline h1 {
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.hero-tagline h2 {
    color: #fff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    line-height: 50px;
    padding-right: 10px;
    text-decoration: none;
}

.hero-tagline a {
    text-decoration: none;
    color: #fff;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 100px;
}

.flex-container img {
    width: 500px;
    padding: 20px;
    padding-right: 35px;
}

.hero-tagline h3 {
    font-size: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: inline-block;
    padding-right: 20px;
}

.hero-tagline h4 {
    font-size: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: inline-block;
    padding-left: 50px;
}

.flex-container2 img {
    width: 300px;
    padding-top: 50px;
}

.flex-container2 h5 {
    font-size: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 15px;
}

/* button section */
#button {
    padding-top: 50px;
    padding: 150px;
    padding-bottom: 10px;
}

.fcontainer{
    background-color: #3E3E3E;
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    align-items: center;
}

.button-tagline {
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
}

.button-tagline h1 {
    font-size: 15px;
    color: #fff;
    font-family: 'Roboto' , sans-serif;
    font-weight: 500;
    padding: 600px;
}

.button-tagline img {
    padding-bottom: 35px;
    padding-left: 10px;
}

.button {
    display: inline-flex;
    height: 43px;
    width: 105px;
    padding: 0;;
    background-color: #079211;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    font-family: 'Roboto' , sans-serif;
    font-weight: 500;
}

.button:hover {
    background-color: #82A0D8;
    color: #fff;
    cursor: pointer;
    transition: 1s;
}

.button-text, .button-img {
    display: inline-flex;
    align-items: center;
    padding: 0  1px;
    padding: 10px 0 ;
}

img {
    padding-top: 1px;
}

/* footer */
.footer {
    background-color: #5B5B5B;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-top: 500px;
    height: 150px;
}

.footer-tagline {
    padding-top: 30px;
}