body {
    background-color: #201F1F;
    max-height: 20000px;
    overflow-x: hidden;
}

.tengah {
    display: flex;
    flex-wrap: wrap;
}

/* Navbar */
.navbar {
    z-index: 3;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.accsent-img {
    z-index: 1;
}

.kanan {
    color: #fff;
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 25px;
}


.kanan:hover {
    color: #108712;
    transition: 1s;
}

.link {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    transition: all;
    padding: 8px 0;
    border-bottom: 1px solid #ffffff00;
    transition: 1s;
    transition-duration: 300ms;
}

.link:hover {
    color: #108712;
    transition: 1s;
    border-bottom: 1px solid #fff;
}

/* Hero Section */
#hero img {
    margin: 300px;
    padding: 64px 0px 0px 64px;
}

.text-hero {
    margin: 50px;
    padding-top: 100px;
}

.img-hero {
    height: 100%;
}

.hero-tagline h1 {
    color: #108712;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
}

.hero-tagline h2 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    line-height: 20pxpx;
}


.hero-tagline p {
    font-size: 10px;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 50px;
    line-height: 20px;
    width: 85%;
}

.tombolijo {
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #108712;
    color: #fff;
}

/* Project Section */
#project {
    margin: 0;
    padding: 0;
}
.project-tagline h1 {
    color: #fff;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-tagline p {
    color: #fff;
    font-size: 15px;
    display: inline-flex;
    margin-right: 20px;
    padding-top: 15px;
}

.img-project {
    width: 100%;
    margin-top: 20px;
}

/* Button section */
#button {
    padding-top: 50px;
    padding: 100px;
}

.fcontainer{
    background-color: #3E3E3E;
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    align-items: center;
}

.button-tagline {
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
}

.button-tagline h1 {
    font-size: 20px;
    color: #fff;
    font-family: 'Roboto' , sans-serif;
    font-weight: 500;
    padding: 300px;
}

.button-tagline img {
    padding-bottom: 35px;
    padding-left: 10px;
}

.button {
    display: inline-flex;
    height: 43px;
    width: 105px;
    padding: 0;;
    background-color: #079211;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    font-family: 'Roboto' , sans-serif;
    font-weight: 500;
}

.button:hover {
    background-color: #82A0D8;
    color: #fff;
    cursor: pointer;
    transition: 1s;
}

.button-text, .button-img {
    display: inline-flex;
    align-items: center;
    padding: 0  1px;
    padding: 10px 0 ;
}

img {
    padding-top: 1px;
}

/* nav section */
#button2 {
    padding-top: 50px;
    padding-bottom: 100px;
}

.hero1 {
    color: #fff;
    font-size: 25px;
    font-family: 'Roboto' , sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.button2 {
    background-color: #252525;
    width: 100%;
}

.button2 img {
    margin-bottom: 20px;
    padding-left: 350px;
}

.button2-tagline p {
    color: #fff;
    font-size: 10px;
    padding-top: 50px;
    margin-right: 150px;
    padding-right: 50px;
}

.button2-tagline h2 {
    color: #fff;
    font-family: 'Roboto' , sans-serif;
    font-size: 10px;
    font-weight: bold;
}

/* footer */.footer {
    background-color: #5B5B5B;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    height: 150px;
}

.footer-tagline {
    padding-top: 30px;
}

